body {
    background-image: url(../images/bg.png);
}

header, main, footer {
    width: 1000px;
    margin: auto;
    padding: 1em 3em;
    box-sizing: border-box;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header span {
    display: block;
    width: 100%;
}

header a {
    align-self: flex-end;
}

nav {
    width: 100%;
}
nav ul {
    list-style: none;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
    padding: 0;
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
}

li a {
    text-decoration: none;
    color: black;
}

li {
    padding: 1em 0;

}

h2 {
    text-align: center;
}

section span {
    display: block;
    text-align: center;
    color: #A6A6A6;
}

#separateur {
    background-color: #FAFAFA;
    height: 3em;
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    width: 100%;
}

h3 {
    width: 100%;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0 0 1em 0;
    border-bottom: solid 1px #dadada;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

footer section {
    width: 25%;
    background-color: #FAFAFA;
    padding: 0 1em;
    box-sizing: border-box;
}

section ul {
    list-style: none;
    padding: 0;
}

section li {
    padding: 0;
}



@media (max-width: 1020px) {
    header, main, footer {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }

    main {
        flex-wrap: wrap;
    }

    nav ul {
        width: 100%;
        justify-content: space-around;
    }

}


@media (max-width: 700px) {

    /*h1 {
        width: 100%;
        text-align: center;
    }*/
    header, main, footer {
        padding: 0.5em;
    }
    nav ul {
        text-align: center;
        flex-direction: column;
    }

    img {
        width: 100%;
        height: auto;
    }

    footer section {
        width: 50%;
    }
}


@media (max-width: 500px){
    footer section {
        width: 100%;
    }
}
